TIM/Library/ShaderCache/
TIM/Temp/
TIM/Library/metadata/
TIM/Assets/TouchInt2.cs.meta
TIM/Library/CrashedAssetImports.txt
TIM/Library/LastSceneManagerSetup.txt
TIM/Library/expandedItems
TIM/Assets/AccelerometerInt2.cs.meta
TIM/Library/ProjectSettings.asset
TIM/Assembly-CSharp.csproj
TIM/TIM.CSharp.csproj
TIM/Library/assetDatabase3
TIM/Assembly-CSharp.csproj
	
TIM/Assets/AccelerometerInt2.cs.meta
	
TIM/Assets/TouchInt2.cs.meta
	
TIM/Library/LastSceneManagerSetup.txt
	
TIM/Library/ProjectSettings.asset
	
TIM/Library/ScriptAssemblies/Assembly-CSharp.dll

TIM/Library/expandedItems
	
TIM/Library/shadercompiler-UnityShaderCompiler.exe0.log
	
TIM/Library/shadercompiler-UnityShaderCompiler.exe1.log
	
TIM/Library/shadercompiler-UnityShaderCompiler.exe2.log
	
TIM/Library/shadercompiler-UnityShaderCompiler.exe3.log
TIM/TIM3.apk
